* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
}

header li a {
    color: white;
    text-decoration: none;
    margin-left:  16px;
}

body > header {
    background-color: #686868;
    padding: 16px ;
    color: white;
}

.contaner {
    width: 1366px;
    margin: 0 auto;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.articles article img {
    /* height: 180px; */
    width: 100%;
} 

.articles article {
    width: 30%;
}

section {
    padding: 16px;
}

section h2, .articles article {
    margin-bottom: 16px;
}

section h3 {
    margin-top: 8px;
    margin-bottom: 8px;
}

.articles article a {
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;

}

.articles article a:hover {
    text-decoration: underline;
}

.articles article p {
    font-family: Arial, Helvetica, sans-serif;
}

.articles article h3{
    font-size: 24px;
}

section h2 {
    font-size: 32px;
}

#sport {
    background-color: rgba(27, 192, 41, 0.274);
}
#sport .articles article a {
    background-color: rgba(102, 153, 7, 0.973);
    color: rgb(0, 0, 0);
}

#economy {
    background-color: rgba(185, 212, 28, 0.603);
}

#economy .articles article a {
    background-color: rgb(167, 224, 10);
    color: black;
}

#games {
    background-color: rgba(139, 29, 161, 0.63);
}

#games .articles article a {
    background-color: rgba(174, 61, 197, 0.63);
    color: black;
}

#ciencia {
    background-color: rgba(216, 37, 126, 0.973);
}

#ciencia .articles article a {
    background-color: rgba(165, 79, 122, 0.555);
    color: black;
}